<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table with Filtering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../framework/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div id="container" style="padding-left: 5%">
            <!-- Title -->
            <div id="row">
                <h1>Lookup App: Unit Search Filter</h1>
            </div>

            <!-- Filter Controls -->
            <form class="row g-3">
                <div class="col-md-3">
                    <label for="code" class="form-label">Code:</label>
                    <input type="text" name="code" class="form-control" v-model="unitCode">
                </div>
                <div class="col-md-3">
                    <label for="desc" class="form-label">Description:</label>
                    <input type="text" name="desc" class="form-control" v-model="unitDesc">
                </div>
                <div class="col-md-6">
                    <p>Unit Type:</p>
                    <div id="row"><input type="radio" id="core" value="Core" class="form-check-input" v-model="unitType">
                        <label for="core" class="form-check-label">Core</label>
                    </div>
                    <div id="row"><input type="radio" id="sd" value="Software Development" class="form-check-input" v-model="unitType">
                        <label for="sd" class="form-check-label">Software Development</label>
                    </div>
                    <div id="row"><input type="radio" id="sa" value="Systems Analysis" class="form-check-input" v-model="unitType">
                        <label for="sa" class="form-check-label">Software Analysis</label>
                    </div>
                    <div id="row"><input type="radio" id="all" value="All" class="form-check-input" v-model="unitType">
                        <label for="all" class="form-check-label">All</label>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <table class="table table-bordered table-hover table-sm table-striped">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Description</th>
                        <th scope="col">Credit Points</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Conditionally render unit info based on filters -->
                    <tr v-for="item in items" v-if="
                        ((item.code == unitCode) || (unitCode == '')) &&
                        ((item.desc == unitDesc) || (unitDesc == '')) &&
                        ((item.type == unitType) || (unitType == 'All'))">

                        <!-- Render each value using list also -->
                        <td v-for="value in item">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Vue -->
    <script src="../framework/js/vue.min.js"></script>
    <!-- Attach file with units -->
    <script src="3.2 resource.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                unitCode: "",
                unitDesc: "",
                unitType: "All",
                items: fileData,
            }
        });
    </script>
</body>

</html>